// vendor
@import "vendor/normalize.scss";

// general
@import "general/variables.scss";
@import "general/mixins.scss";
@import "general/fonts.scss";
@import "general/global.scss";

// blocks
@import "blocks/field.scss";
@import "blocks/gameover.scss";
@import "blocks/begin.scss";
