//ШРИФТЫ

// РЕТИНА
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// РАЗРЕШЕНИЯ
$width-desktop-medium: 1400px;
$width-desktop: 1024px;
$width-tablet: 768px;
$width-mobile-large: 480px;
$width-mobile: 320px;
